@font-face {
    font-family: 'Joane';
    src: local('Joane Regular'), local('Joane-Regular'),
        url('Joane-Regular.woff2') format('woff2'),
        url('Joane-Regular.woff') format('woff'),
        url('Joane-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }